/* signuppage styles*/
.signup{
    position: relative; 
    left: 1%;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration:underline;
    margin-top: 1rem;
}
.signUpCred{
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.signup-users
{
    border-radius: 2rem;
    display: flex;
    justify-content: center; 
    align-items: center;  
    left: 2rem;
}

/* IndexPage */
.indexIn{
    text-align: center;
    height: 2rem;
    display: flex;
    border: none;
    border-radius: 2rem;
    width: 80%;
    align-content: center;
}
button{
    position: relative; 
    text-align: center;
    border: none;
    border-radius: 0.8rem;
    margin: 1rem;
    justify-content: space-evenly;
    height:30px; 
    background: rgb(142, 61, 158);
}
.button-btn{
    width: 10rem;
    background-image: linear-gradient(to right,#ae94f8,#28b9d3);
    color: #fff;
    cursor: pointer;
    }
    .button-btn:hover{
        background-image: linear-gradient(to left,#ff83d5,#ffccb0);
    }
.landing-page{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;
}
.intro
{
    font-size: xx-large;
    color: #fff;
}
body{
    position: relative; 
    left: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(3, 3, 100, 0.5) 0%, rgba(21, 21, 158, 0.6), rgba(0,212,255,0.5));
    margin: 14rem;
    padding-left: (100%-5rem);
    /* margin-left: 20%; */
    overflow: hidden ;
    display:block;
    text-align:justify;
}
.sm-list
{
    display: flex;
    animation: hue-shift,infinite,6s,alternate;
}
.sm-list:hover{
animation: hue-shift,infinite,6s;
}
.sm-link{
    color: #929fc5;
    width: 2rem;
    height: 2rem;
    border: 1px solid #929fc5;
    border-radius: 50%;
    display: flex;
    margin-right: 2.5rem;
    text-decoration: none;
    
  }
  .sm-link i{
    margin: auto;
}
.sm-link:hover{
    background-image: linear-gradient(to right,#a971ff,#00f0ff);
    color: #fff;
}
@keyframes hue-shift{
    from{
         filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}
